/ {
    behaviors {
        // [ , shift: {
        jis_LBKT: jis_LBKT {
            compatible = "zmk,behavior-mod-morph";
            label = "jis_LBKT";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp LBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // ] , shift: }
        jis_RBKT: jis_RBKT {
            compatible = "zmk,behavior-mod-morph";
            label = "jis_RBKT";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&kp RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // ;, shift: :
        jis_COLON: jis_COLON {
            compatible = "zmk,behavior-mod-morph";
            label = "jis_COLON";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 1, !
        jis_N1: jis_N1 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N1";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 2, @
        jis_N2: jis_N2 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N2";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp AT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 3, #
        jis_N3: jis_N3 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N3";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 4, $
        jis_N4: jis_N4 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N4";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&kp DLR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 5, %
        jis_N5: jis_N5 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N5";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp PERC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 6, ^
        jis_N6: jis_N6 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N6";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp CIRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 7, &
        jis_N7: jis_N7 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp AMPS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 8, *
        jis_N8: jis_N8 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N8";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp ASTRK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 9, (
        jis_N9: jis_N9 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N9";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp LPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // 0, )
        jis_N0: jis_N0 {
            compatible = "zmk,behavior-mod-morph";
            label = "us_N0";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp RPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
